@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bs-primary: #4564e5;
  --primary-color: var(--bs-primary);
  --soft-blue: #f1f5fb;
  --text-dark: #212529;
  --bg-light: #fff;
  --bg-secondary: #6d747d;

  --card-color: #ffff;

  /* Text Color */
  --text-color: #707070;
  --text-color-light: #dee2e6;
  --text-color-white: #fff;
  --text-color-primary: var(--primary-color);
  --text-color-dark: #212529;

  /* Transisi */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

  /* Radius */
  --radius-05: 5px;
  --radius-10: 10px;
  --radius-20: 20px;
  --radius-50: 50px;
  --radius-100: 100px;
  --radius-circle: 200px;

  /* Ckeditor */
  --ck-image-style-spacing: 1.5em;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serifl;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.text-primary {
  color: var(--bs-primary) !important;
}
.bg-primary {
  background-color: var(--bs-primary) !important;
}
.border-primary {
  border-color: var(--bs-primary) !important;
}

.bg-soft-blue {
  background-color: var(--soft-blue);
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: var(--bs-primary);
}
.form-control,
.btn {
  border-radius: var(--radius-10);
  padding: 10px 18px;
}
.btn {
  font-weight: 600;
}
.home .card {
  border-radius: 1rem !important;
  border: none !important;
  box-shadow: none !important;
}
.home .card-body {
  padding: 3rem !important;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.logo img {
  width: 30px;
}
.logo span {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  color: #212529;
}

section {
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  section {
    padding: 40px 0;
  }
}
.article img {
  transition: .2s ease-in;
}
.article:hover img {
  filter: blur(1.5px);
}
.article h3 {
  font-size: 22px;
  font-weight: bold;
  color: #212529;
  transition: .2s ease-in;
}
.article:hover h3 {
  color: #4564e5;
}
.article-title-nav {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a > .article-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  color: #6c757d;
}
.link:hover {
  color: #4564e5;
}

#table-profile td {
  padding: 0px !important;
}


/* Text */
.fs-7 {
  font-size: 14px;
}
.fs-8 {
  font-size: clamp(8px, 3vw, 12px) !important;
}

td > span {
  font-size: clamp(10px, 3vw, 15px);
}

.text-color {
  color: var(--text-color) !important;
}
/* Text End */


/* Radius */
.rounded-circle {
  border-radius: var(--radius-circle) !important;
}

a.facebook,
a.twitter,
a.instagram,
button.copy-link {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1 !important;
  width: 40px !important;
  height: 40px !important;
}


/* Ellipsis */
.ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Input */
input[readonly] {
  background-color: #e8edee !important;
  border-color: #ced4db !important;
}


/* Card */
.card {
  background-color: var(--card-color);
  border-radius: var(--radius-20);
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: var(--tran-03);
}
.card-title {
  color: var(--text-color-dark);
}



/* Navbar */
.nav-username {
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile-author {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-author img,
.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.navbar-detail {
  backdrop-filter: blur(10px);
  background-color: #f1f5fba2;
  color: var(--text-color-dark);
}
/* Navbar End */


/* Article */
.article {
  position: relative;
}
.article-container {
  padding: 0px 200px !important;
}
@media (max-width: 993px) {
  .article-container {
    padding: 0px !important;
  }
}
section.home .thumbnail,
section.article-body .thumbnail {
  width: 100%;
}
section.home .thumbnail img,
section.article-body .thumbnail img {
  aspect-ratio: 16/9 !important;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

section.home .article-interaction {
  background-color: var(--soft-blue) !important;
  border-radius: var(--radius-50);
  height: 40px;
  padding: 0px 15px;
}
section.home .article-interaction a {
  padding: 0px 10px;
  color: var(--text-color);
  cursor: pointer;
}
.actions .whitelist a {
  display: flex;
  align-items: center;
  gap: 0px;
  cursor: pointer;
  color: var(--text-color);
}

section.thumbnail {
  width: 100%;
  border-radius: 0px;
}
section.thumbnail img {
  aspect-ratio: 16/6 !important;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}
@media (min-width: 768px) {
  section.thumbnail {
    aspect-ratio: 16/4 !important;
  }
}

blockquote {
  border-left: 4px solid var(--primary-color) !important;
  margin: 5px;
  padding: 0.5em 10px;
  background-color: var(--soft-blue) !important;
}
blockquote > * {
  padding: 0;
  margin: 0;
}

/* article interaction */
.article-interaction {
  height: 40px;
  padding: 0px 15px;
  background-color: var(--bg-light);
  border-radius: var(--radius-50);
}
.article-interaction a {
  padding: 0px 10px;
  color: var(--text-color);
  cursor: pointer;
}
.article-interaction > * {
  color: var(--text-color);
}
.article-interaction a:first-child {
  border-right: 1px solid var(--text-color);
}
@media (max-width: 768px) {
  .article-interaction {
    height: 30px;
  }
}
@media (max-width: 360px) {
  .article-interaction {
    padding: 0px 5px !important;
  }
}
/* view details */
.view-details {
  opacity: 0;
}
.bx.bx-chevron-up {
  display: none;
}
.view-details.active {
  opacity: 1;
  transition: var(--tran-04);
}
.view-details.active .bx.bx-chevron-down {
  display: none !important;
}

/* author */
.author .info {
  cursor: pointer;
}
.author .profile-image {
  position: absolute;
}
.author-name {
  display: flex;
  align-items: center;
  gap: 5px;
}
.author-name p:hover:first-child {
  text-decoration: underline;
}
.author .info {
  margin-left: 50px;
}

/* share */
.actions .share {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.actions .share button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-50);
  border: none;
}
@media (max-width: 768px) {
  .actions .share button {
    width: 30px;
    height: 30px;
  }
  .actions .share i {
    margin-top: 1px;
    font-size: 12px;
  }
  button.copy-link-btn p {
    margin-top: -2px !important;
  }
}
.actions .share button i {
  padding: 0;
  margin: 0;
  color: var(--text-color-white);
}
.actions .share .facebook {
  background-color: var(--primary-color);
}
.actions .share .x {
  background-color: var(--text-dark);
}
.actions .share .email {
  background-color: var(--bg-secondary);
}
button.copy-link-btn {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
button.copy-link-btn p {
  color: var(--text-color-white);
}



/* Profile */
#profile {
  background-color: var(--bg-soft-blue) !important;
  padding-bottom: 20px;
}
#profile .card-header {
  color: var(--text-color-dark) !important;
}

#profile .card.card-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  aspect-ratio: 1400 / 350;
}

#profile .header {
  position: relative;
  align-items: end;
  display: flex;
  top: -50px;
  padding: 0px 20px !important;
  gap: 10px !important;
}

#profile .header .avatar {
  width: 120px;
  height: 120px;
  border-radius: var(--radius-100);
  overflow: hidden;
  margin-right: 10px;
  background-color: var(--bg-light);
  border: 3px solid var(--bg-light);
}

#profile .header .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foto .foto-icon {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: var(--text-dark);
  color: var(--text-color-white);
  cursor: pointer;
  border-radius: var(--radius-50);
}
@media (max-width: 575px) {
  .foto .foto-icon {
    padding: 5px;
  }
}

#profile .info {
  position: relative;
  top: 10px;
}
#profile .edit-profile,
#profile .follow-btn,
#profile .unfollow-btn {
  position: relative;
  top: -10px;
}


#profile .card-profile .card-body {
  position: relative;
  top: -50px;
  padding-left: 35px;
  padding-right: 35px;
}

#profile .card-footer {
  background-color: var(--body-color);
  border-radius: 0 0 20px 20px;
  padding: 20px 20px 15px 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

#profile .card-footer#social-media i {
  color: var(--text-color);
  font-size: larger;
  padding: 0;
  margin: 0;
}

#profile .card-footer#social-media i:hover {
  color: var(--bs-primary);
  transition: var(--tran-03);
}

#profile #articles {
  z-index: 1;
}

#profile #articles .card .card-header {
  border-radius: var(--radius-20) var(--radius-20) 0 0;
  background-color: var(--card-color);
  color: var(--text-color);
}

#profile #articles .card .card-body {
  overflow-y: auto;
  max-height: calc(100svh - 200px);
}

#profile #articles .card .card-body .article {
  color: var(--text-color-dark);
  border-bottom: 1px solid #dee1e6;
  padding: 10px 0;
  position: relative;
  transition: var(--tran-03);
}

#profile #articles .card .card-body .article:hover {
  background-color: var(--soft-blue);
}

#profile #articles .card .card-body .article .avatar {
  width: 50px;
  height: 50px;
  border-radius: var(--radius-50);
  overflow: hidden;
  margin-right: 10px;
  background-color: var(--card-hover);
  position: absolute;
}

#profile #articles .card .card-body .article .thumbnail {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: var(--radius-10);
  background-color: var(--card-hover);
  position: absolute;
}
#profile #articles .card .card-body .article .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#profile #articles .card .card-body .article .article-info {
  margin-left: 60px;
}

#profile #articles .card .card-body .article:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  #profile .header {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    top: -40px;
    padding: 0 16px !important;
  }

  #profile .avatar {
    width: 100px !important;
    height: 100px !important;
    margin-right: 0px !important;
  }

  #profile .header .actions {
    align-self: flex-start;
    position: relative;
  }

  #profile .header .info {
    top: 0 !important;
  }

  #profile .card-profile .card-body {
    position: relative;
    top: -60px !important;
    left: 0 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  #profile #articles .card .card-body {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.user-article .card {
  box-shadow: none;
}
.user-article .thumbnail {
  aspect-ratio: 16/9 !important;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}
.user-article .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* CKeditor */
.editor-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: #fff;
  color: var(--text-color-dark);
  padding: 1rem;
  z-index: 9999;
  overflow: auto;
}
.editor-fullscreen .ck-editor__editable {
  height: 80svh !important;
  background-color: transparent !important;
}
.ck-balloon-panel {
  z-index: 99999 !important;
}
.ck-editor__editable {
  height: 400px;
  overflow-y: auto !important;
  padding: 0px 63px 20px 63px !important;
}
@media (max-width: 768px) {
  .ck-editor__editable {
    padding: 10px !important;
  }
}

figure.image {
  margin-left: auto;
	margin-right: auto;
}
figure.image img,
p > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

figure.image.image-style-align-left,
p > .image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing);
}
figure.image.image-style-align-right,
p > .image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}

figure.image.image-style-block-align-left {
  margin-left: 0;
	margin-right: auto;
}
figure.image.image-style-block-align-right {
  margin-right: 0;
  margin-left: auto;
}

figure.table table {
  all: revert;
  border-collapse: collapse;
  width: 100%;
}

pre {
  background-color: #eeefef;
  border: 1px solid var(--text-color);
  padding: 20px;
  border-radius: var(--radius-5);
}
label.language-code {
  padding: 5px 15px;
  position: absolute;
  right: 0;
  border-radius: 0px 5px 0px 0px;
}

@media (max-width: 768px) {
  .article-body figure,
  .article-body p img {
    width: 100% !important;
  }
}
/* Article End */


/* Dashboard */
#admin-article-info .card .card-body {
  padding: 15px 20px;
}
#admin-article-info .card .card-body .info img {
  width: 40px;
}
@media (max-width: 768px) {
  #admin-article-info .card .card-body .info img {
    width: 27px;
  }
}


.thumbnail-preview {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/6;
  overflow: hidden;
  border: 3px solid var(--body-color);
}
.thumbnail-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* search */
.actions .search-box {
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid transparent;
  border-radius: var(--radius-50);
  background-color: var(--bg-light);
  padding: 10px 15px;
  gap: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.actions .search-box input {
  width: clamp(100px, 35vw, 200px);
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
  color: var(--text-color-dark);
}
.actions .search-box i {
  color: var(--text-color-dark);
}
.actions .search-box:focus-within,
.actions .search-box:focus-within i {
  border-color: var(--bs-primary) !important;
  color: var(--bs-primary) !important;
  transition: var(--tran-03);
}

/* filter */
.container-filters button {
  background-color: transparent;
  border: none;
}
/* Dashboard End */


/* Whitelist */
section.whitelist .whitelist-content .thumbnail {
  position: absolute;
  width: 70px;
  height: 70px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
section.whitelist .whitelist-content .thumbnail img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

section.whitelist .whitelist-content .article-info {
  padding-left: 90px;
}
section.home .category,
section.whitelist .whitelist-content .article-info .category,
section.whitelist .whitelist-content .article-info .article-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Whitelist End */




/* profile nav */
.container.info .nav.nav-tabs .nav-item .nav-link {
  color: var(--text-color-dark);
}
.container.info .nav.nav-tabs .nav-item:hover .nav-link {
  color: var(--text-color-primary);
  border-bottom: 3px solid var(--primary-color);
  transition: var(--tran-03);
}
.container.info .nav.nav-tabs .nav-item .nav-link.active {
  background-color: transparent;
  color: var(--text-color-primary);
  font-weight: 600;
  border-bottom: 3px solid var(--primary-color);
}
/* Profile End */



/* Comment */
.comment .profile-image {
  position: absolute;
}

/* your comment */
.comment .header .input-comment,
.comment .comment-content .header .user-info {
  margin-left: 50px;
}
.comment .input-comment textarea {
  width: 100%;
  max-height: 120px;
  resize: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-bottom: 2px solid var(--text-color);
  border-radius: 0px;
  background-color: transparent;
}
.comment .input-comment textarea:focus {
  border-color: var(--primary-color);
  transition: var(--tran-05);
}
.input-comment button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: var(--text-color);
}
.input-comment button i {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

/* comment content */
.comment .comment-container {
  margin-top: 20px;
}
.comment .comment-container .user-comment {
  margin-top: 15px;
}
.comment .comment-container .comment-body {
  color: var(--text-dark);
  font-weight: 400;
  line-height: 28px;
  font-size: clamp(15px, 3vw, 18px) !important;
}
@media (max-width: 768px) {
  .comment .comment-container .comment-body {
    line-height: 25px;
  }
}
.comment .comment-container .reply span {
  font-weight: 500;
}

/* comment report */
.card.card-report {
  background-color: var(--bg-light);
  padding: 10px 0px;
  border-radius: 10px;
}
.card.card-report .card-header {
  background-color: var(--bg-light);
}
.card.card-report .card-body {
  padding: 10px;
  background-color: var(--soft-blue);
  margin: 5px 15px 15px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.card.card-report .username .username-info {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.card.card.card-report .username .username-info .profile-image {
  position: absolute;
}

.card.card-report .username .username-info .nickname > *,
.card.card-report .username .username-info h6 {
  margin-left: 50px !important;
}
.card.card-report .dropdown .dropdown-menu li:hover a,
.card.card-report .dropdown .dropdown-menu li:hover a form button {
  color: var(--text-color-light) !important;
  background-color: var(--primary-color) !important;
}
.card.card-report .dropdown .dropdown-menu li:active a form button {
  color: var(--text-color-light) !important;
}
/* Comment End */


/* Followers and Following Modal */
#followersModal .username,
#followingModal .username {
  margin-left: 45px;
}

#followersModal .search-box,
#followingModal .search-box {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  margin: 10px 15px;
  background-color: var(--soft-blue);
  border-radius: var(--radius-10);
}
#followersModal .search-box input,
#followingModal .search-box input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
/* Followers and Following Modal End */



/* Back to Top */
.icon-back-to-top {
  position: fixed;
  height: 50px;
  width: 50px;
  background: var(--bs-primary);
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 67px;
  border-radius: var(--radius-10);
  pointer-events: none;
  transition: all .4s;
  opacity: 0;
}
.icon-back-to-top.active {
  pointer-events: auto;
  opacity: 1;
}
.icon-back-to-top i {
  color: var(--text-color-light);
}

@media (max-width: 768px) {
  .icon-back-to-top{
    line-height: 60px;
  }
}
/* Back to Top End */


/* Toasts */
.toast {
  animation: fadeInOut 1s ease-in-out;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  50% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.toast.show {
  width: 400px;
  height: max-content;
  position: fixed;
  top: 95px;
  right: 0;
  padding: 5px;
  background-color: var(--bg-light);
  display: block;
}
.toast .toast-body {
  border-radius: 0px 0px 10px 10px;
}

@media (max-width: 768px) {
  .toast.show {
    width: 100% !important;
    position: fixed;
    top: 85px;
  }
}
/* Toasts End */


/* Footer */
footer ul {
  list-style-type: none;
}
footer .link a {
  color: var(--text-color-dark);
}
footer .link a:hover {
  color: var(--text-color-primary);
  transition: var(--tran-05);
}
.footer-nav-title {
  /* border-bottom: 2px solid var(--text-dark); */
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold !important;
}
/* Footer End */
